[Unit]
Description=MEGAsync Background Service
After=graphical-session.target
PartOf=graphical-session.target
ConditionPathExists=/usr/bin/megasync

[Service]
Type=simple
ExecStartPre=/bin/sleep 5
ExecStart=/usr/bin/megasync
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical-session.target
