[Unit]
Description=Load nvidia backlight on startup
After=graphical.target

[Service]
Type=forking
User=zeeviam
ExecStart=nvidia-brightness-load

[Install]
#WantedBy=xsession.target
WantedBy=default.target
