# non-dot files
/*

# --- Dotfiles ---
# All dotfiles
.*
!.gitignore
!.bash_profile
!.bashrc
!.config
!.xsessionrc
!.devices
!.local

!.zshrc
!.zprofile
!.p10k.zsh

# Custom dotfiles
!.core_env
!.core_rc
!.sway_env

# README
!README.md
