[Unit]
Description=USB Mount Monitor Service
After=local-fs.target

[Service]
Type=simple
ExecStart=%h/.config/my-wm/scripts/mwm-mount-usb-monitor
Restart=always
KillSignal=SIGTERM
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target

