* {
  font-family: FiraCode Nerd Font, JetBrains Mono, Roboto, sans-serif;
  font-size: 1rem;
}

.modules-left,
.modules-center,
.modules-right {
  background: rgba(42, 42, 42, 0.5);
  border-radius: 16px;
  margin: 2px 0;
}

.module {
  padding: 0 10px;
  border-radius: 16px;
}

#pulseaudio:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

window#waybar {
  background: transparent;
  color: #dddddd;
}

#battery.charging {
  color: #a6e3a1;
}

#battery.warning {
  color: #f38ba8;
}

#workspaces > * {
  border-radius: 16px;
}
