/* Color-Scheme For All Themes*/

* {
    background:    #1D1D1DFF;
    background-alt:    #2E2E2EFF;
    foreground:    #DDDDDDff;
    border:    #5895DCff;
    selected:    #5294E2ff;
    urgent:    #EC407Aff;
    logo:    #EC407Aff;
    on:    #61C766ff;
    off:    #EC7875ff;
}
