@import "~/.config/rofi/config.rasi"

configuration {
  show-icons: true;
  drun-display-format: "{name}";
  display-drun: " ";
  disable-history: false;
}

window {
  width: 30%;
  height: 50%;
}

entry {
  background-color: @background;
  text-color: @foreground;
  placeholder-color: @placeholder;
  placeholder: "Search";
  expand: true;
  horizontal-align: 0;
  blink: true;
}

inputbar {
  children: [prompt, entry];
}

listview {
  cycle: false;
}

