@import "~/.config/rofi/config.rasi"

configuration {
  location: 0;
}

window {
  width: 300px;
}

textbox-prompt-colon {
  expand: false;
  str: "󰣇 ";
  background-color: @background;
  text-color: @logo;
}

inputbar {
  children: [textbox-prompt-colon, prompt];
  border: 0px;
}

listview {
  lines: 5;
}
