/*
.*

!alacritty
!picom
!qtile
!dunst
!polybar
!rofi
!bspwm
!sxhkd
!nvim
!wallpapers
!gtk-3.0
!gtk-4.0
!systemd
!i3
!sway
!waybar
!hypr
!xorg.conf.d
!fontconfig
!env-files
!kitty

# Fix plasma dolphin color background
!kdeglobals

!.gitignore
